@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "deadfrog";
  src: url("./assets/fonts/Deadfrog.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 1080px;
  width: 1920px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  background-image: url("/src/assets/images/dungeon.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: center;
  background-color: black;
  font-family: "deadfrog", sans-serif;
}

.customShadow {
  -webkit-box-shadow: 0 0 5px #ca8a04;
  box-shadow: 0 0 5px #ca8a04;
}

.loading-bar {
  animation: loading 10s linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  --tw-bg-opacity: 1;
  -webkit-box-shadow: 0 0 0 30px rgb(31 41 55 / var(--tw-bg-opacity)) inset !important;
  -webkit-text-fill-color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
