@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/src/assets/dungeon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1680px;
  background-position: center;
  background-color: black;
}
